*{
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(231, 231, 231);
}
.background{
  background-image: linear-gradient(to top , #000000e8, #00000000), url("https://w.wallhaven.cc/full/g7/wallhaven-g7jlde.jpg");
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 4px;
}
nav{
  background-color: rgb(237, 239, 241);
  padding: 10px 0 10px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul{
  display: flex;
  gap: 10px;
  list-style: none;
}
nav ul li {
  text-decoration: none;
  color: rgb(20, 20, 20);
  font-size: larger;
}
.kanan-nav{
  display: flex;
}
.kiri-nav{
  padding-left: 20px;
  display: flex;
}
.hero{
  left: auto;
  z-index: 1;
  color: rgb(234, 234, 234);
  width: 170vh;
  justify-content: center;
  align-items: center;
  margin: 200px 100px;
  display: flex;
  gap: 100px;
}
.kiri{
  width: 500px;
}
.kiri h1{
  margin-bottom: 20px;
}
.kanan img {
  box-shadow: 20px 20px 40px black;
  border-radius: 5px;
  width: 400px;
}
.search{
  background-color: rgba(255, 255, 255, 0.708);
  color: white;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 10px black ;
  width: 290px;
}
.profile{
  width: 30px;
  height: 30px;
  border-radius: 20px;
  margin: 0 20px 0;
  transition: all 0.3s ease;
}
.profile:hover{
  transform: scale(1.2);
  cursor: pointer;
}

.container-warper img{
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 10px 10px;
}
.container-warper{
  box-shadow: 10px 10px 20px black;
  width: 300px;
  border-radius: 10px;
}
.container-warper p{
 margin: 20px;
}
.isi-2{
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
.popular{
  padding-top: 50px;
  text-align: center;
  color: rgb(20, 20, 20);
}
